/* Import Font Start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Import Font End */

/* Main Styles Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #27374D;
}

/* Main Styles End */

/* Expanding Cards Start */

.expanding-card {
    display: flex;
    height: 100vh;
    align-items: center;
}

.expanding-card-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-boxes {
    width: 180px;
    height: 800px;
    position: relative;
    margin: 0 15px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    background-size: cover;
    background-position: right top;
    object-fit: cover;
    border-radius: 100px;
    transition: width .5s linear;
}

.image-boxes.active {
    width: 100%;
}

.image-boxes.active img {
    width: 100%;
    transition: width .3s ease-in-out;
}

.image-boxes.active span {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    transition-delay: .2s;
}

.image-boxes span {
    position: absolute;
    bottom: 30px;
    left: 60px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0;
}

/* Expanding Cards End */